<%- include("../partial/navbar") %>
<section>
    <h1>Log-in</h1>
    <form method = "post" action="/log-in">
        <label for="email">Email Address</label> <br>
        <input type="email" id="email" name="email" required> <br><br>
        <label for="password">Password</label> 
        <input type="password" name="password" id="password" required> <br><br>
    
        <input type="Login" name="Log-in" >
    </form>
</section>

