<div>
    <div class = "navbar">
        <nav>
            <a href="/">
                Meal Mingle
            </a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/on-the-menu">Menu</a></li>
                <li><a href="/sign-up"></a>Sign-up</li>
                <li><a href="/log-in"></a>Log-in</li>
            </ul>
        </nav> 
    </div>